
    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">IMDB</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-left">
                    <li>
                        <a class="page-scroll" href="#about">MOVIES</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#services">TV & VIDEO</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#portfolio">CELEBS, EVENTS & PHOTOS</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <form role="form" class="search-form">
                        <div class="form-group">
                            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Search..">
                            <i class="fa fa-search"></i>
                        </div>
                    </form>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
    <section class="header">
        <div class="header-overlay">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="header-content">
                            <ul class="list-unstyled list-inline film-rating">
                                <li>11 july 2016</li>
                                <li><i class="ion-android-star-outline"></i> 9.1/10</li>
                            </ul>
                            <h1>Stranger Things</h1>
                            <ul class="unstyled list-inline about-film">
                                <li>55 mins</li>
                                <li>Drama, Horror, Mystry</li>
                                <li>TV Series ( 2016- )</li>
                            </ul>
                            <!-- Split button -->
                            <div class="btn-group">
                                <button type="button" class="btn btn-danger btn-red">WATCH TRAILER</button>
                                <button type="button" class="btn btn-danger btn-drop">
                                    <i class="ion-play"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </section>
    <section class="detailed-page">
        <div class="container detailed-page-container">
            <div class="row detailed-page-nav">
                <div class="col-md-7">
                    <ul class="list-unstyled list-inline guide-nav pull-right">
                        <li>
                            <p style="font-size:30px;">9.1<span class="high-light">/10</span></p>
                            <span><i class="ion-android-star"></i> 174,841</span>
                        </li>
                        <li>
                            <p>popularity</p>
                            <span>Rising (+5)</span>
                        </li>
                        <li>
                            <p>Episode Guide</p>
                            <span class="high-light">17 Episodes</span>
                        </li>
                    </ul>
                </div>
                <div class="col-md-5">
                    <ul class="list-unstyeled list-inline detailed-page-side">
                        <li><a href="">FULL CAST AND CREW</a></li>
                        <li><a href="">TRIVIA</a></li>
                        <li><a href="">USER REVIEWS</a></li>
                        <li><a href="">MORE</a></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8  no-padding">
                    <div class="inside-media-sec">
                        <div class="media custom-media">
                            <div class="media-left">
                                <a href="#">
                                    <img class="media-object" src="images/str-thngs.jpg" alt="..." width="200px">
                                </a>
                            </div>
                            <div class="media-body">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur aliquam sed similique quas qui inventore fugit </p>
                                <a href="#">Read More <i class="ion-ios-arrow-right"></i><i class="ion-ios-arrow-right"></i></a>
                                <p class="second-child">Creators: <span>Matt Duffer, Ross Duffer</span></p>
                                <p>Stars: <span>Matt Duffer, Ross Duffer</span></p>
                            </div>
                        </div>
                        <hr>
                        <div class="cast-sec">
                            <h4>Cast</h4>
                            <ul class="list-group">
                                <li class="list-group-item">
                                    <div class="media">
                                        <div class="media-left">
                                            <a href="#">
                                                <img class="media-object" src="images/winona.jpg" alt="..." width="50px;">
                                            </a>
                                        </div>
                                        <div class="media-body">
                                            <p class="pull-left">Winona Ryder</p>
                                            <p class="pull-right"><span>...as</span> Joyce Byers <span> (8 episodes, 2016)</span></p>
                                            <div class="clearfix"></div>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="media">
                                        <div class="media-left">
                                            <a href="#">
                                                <img class="media-object" src="images/winona.jpg" alt="..." width="50px;">
                                            </a>
                                        </div>
                                        <div class="media-body">
                                            <p class="pull-left">Winona Ryder</p>
                                            <p class="pull-right"><span>...as</span> Joyce Byers <span> (8 episodes, 2016)</span></p>
                                            <div class="clearfix"></div>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="media">
                                        <div class="media-left">
                                            <a href="#">
                                                <img class="media-object" src="images/winona.jpg" alt="..." width="50px;">
                                            </a>
                                        </div>
                                        <div class="media-body">
                                            <p class="pull-left">Winona Ryder</p>
                                            <p class="pull-right"><span>...as</span> Joyce Byers <span> (8 episodes, 2016)</span></p>
                                            <div class="clearfix"></div>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="media">
                                        <div class="media-left">
                                            <a href="#">
                                                <img class="media-object" src="images/winona.jpg" alt="..." width="50px;">
                                            </a>
                                        </div>
                                        <div class="media-body">
                                            <p class="pull-left">Winona Ryder</p>
                                            <p class="pull-right"><span>...as</span> Joyce Byers <span> (8 episodes, 2016)</span></p>
                                            <div class="clearfix"></div>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="media">
                                        <div class="media-left">
                                            <a href="#">
                                                <img class="media-object" src="images/winona.jpg" alt="..." width="50px;">
                                            </a>
                                        </div>
                                        <div class="media-body">
                                            <p class="pull-left">Winona Ryder</p>
                                            <p class="pull-right"><span>...as</span> Joyce Byers <span> (8 episodes, 2016)</span></p>
                                            <div class="clearfix"></div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <hr>
                        <div class="liked-sec">
                            <h4>Poeple also liked ....</h4>
                            <div class="liked-series">
                                <img src="images/got.jpg" alt="" width="160px">
                                <img src="images/got.jpg" alt="" width="160px">
                                <img src="images/got.jpg" alt="" width="160px">
                                <img src="images/got.jpg" alt="" width="160px">
                            </div>
                        </div>
                        <hr>
                        <div class="storyline-sec">
                            <h4>Storyline</h4>
                            <div class="storyline-desc">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum quo porro quas sint officiis quaerat, odit optio? Facilis, ipsa. Earum porro quod, odit vero quibusdam impedit consequatur! Delectus, voluptatem, error? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit a vitae sit voluptas quasi quisquam doloribus quibusdam voluptatibus aspernatur, tempora deserunt hic obcaecati incidunt ut. Eligendi alias aliquid, voluptas voluptates!</p>
                                <p>Written by: <span>Charles J.</span></p>
                            </div>
                        </div>
                        <hr>
                        <div class="details-sec">
                            <h4>Details</h4>
                            <div class="details-desc">
                                <p>Country : <span>USA</span> </p>
                                <p>Language : <span>English</span></p>
                                <p>Release Date : <span>15 July 2016(USA)</span></p>
                                <p>Also Known As : Montauk <a href="">see more <i class="ion-ios-arrow-right"></i><i class="ion-ios-arrow-right"></i></a></p>
                                <p>Filming locations : Jackson, Georgia, USA <a href="">see more <i class="ion-ios-arrow-right"></i><i class="ion-ios-arrow-right"></i></a> </p>
                            </div>
                        </div>
                        <div class="show-more">
                            <button class="btn btn-default btn-lg btn-block">Show more
                                <i class="ion-ios-arrow-down" style="display: block;"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 inside-media-side">
                    <div class="video-sec">
                        <h4>Videos</h4>
                        <div id='carousel-custom' class='carousel slide' data-ride='carousel'>
                            <div class='carousel-outer'>
                                <!-- Wrapper for slides -->
                                <div class='carousel-inner'>
                                    <div class='item active'>
                                        <img src='images/str-v1.png' alt='' />
                                    </div>
                                    <div class='item'>
                                        <img src='images/str-v2.jpg' alt='' />
                                    </div>
                                </div>
                            </div>
                            <!-- Indicators -->
                            <ol class='carousel-indicators mCustomScrollbar'>
                                <li data-target='#carousel-custom' data-slide-to='0' class='active'><img src='images/str-v1.png' alt='' /></li>
                                <li data-target='#carousel-custom' data-slide-to='1'><img src='images/str-v2.jpg' alt='' /></li>
                            </ol>
                        </div>
                    </div>
                    <div class="video-sec">
                        <h4>Photos</h4>
                        <div id='carousel-custom1' class='carousel slide' data-ride='carousel'>
                            <div class='carousel-outer'>
                                <!-- Wrapper for slides -->
                                <div class='carousel-inner'>
                                    <div class='item active'>
                                        <img src='images/str-v1.png' alt='' />
                                    </div>
                                    <div class='item'>
                                        <img src='images/str-v2.jpg' alt='' />
                                    </div>
                                </div>
                            </div>
                            <!-- Indicators -->
                            <ol class='carousel-indicators mCustomScrollbar'>
                                <li data-target='#carousel-custom1' data-slide-to='0' class='active'><img src='images/str-v1.png' alt='' /></li>
                                <li data-target='#carousel-custom1' data-slide-to='1'><img src='images/str-v2.jpg' alt='' /></li>
                            </ol>
                        </div>
                    </div>
                    <div class="top-episodes">
                        <h4>Top Rated Episodes &nbsp <i class="ion-android-star"></i></h4>
                        <div class="top-episodes-desc">
                            <p><span>S1.E8</span> &nbsp <b>9.4</b> &nbsp<i class="ion-android-star"></i></p>
                            <h5>Chapter Eight</h5>
                            <p>Joyce and hopper are taken in for questioning. Nancy and Jonathan prepare to fight the monster and save will.</p>
                        </div>
                        <hr>
                        <div class="top-episodes-desc">
                            <p><span>S1.E8</span> &nbsp <b>9.4</b> &nbsp<i class="ion-android-star"></i></p>
                            <h5>Chapter Eight</h5>
                            <p>Joyce and hopper are taken in for questioning. Nancy and Jonathan prepare to fight the monster and save will.</p>
                        </div>
                        <hr>
                        <div class="top-episodes-desc">
                            <p><span>S1.E8</span> &nbsp <b>9.4</b> &nbsp<i class="ion-android-star"></i></p>
                            <h5>Chapter Eight</h5>
                            <p>Joyce and hopper are taken in for questioning. Nancy and Jonathan prepare to fight the monster and save will.</p>
                        </div>
                    </div>
                    <div class="see-more">
                        <button class="btn btn-default btn-lg btn-orange">See more top rated episodes <i class="ion-ios-arrow-right"></i><i class="ion-ios-arrow-right"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>
    <footer class="dark-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="quicklinks pull-left">
                        <ul class="list-unstyled list-inline quicklinks-list">
                            <li>&copy; 2016</li>
                            <li><a href="">in cinemas</a></li>
                            <li><a href="">coming up</a></li>
                            <li><a href="">top rated</a></li>
                            <li><a href="">watchlist</a></li>
                            <li><a href="">news</a></li>
                            <li><a href="">community</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4">
                    <ul class="social-network social-circle pull-right">
                        <li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#" class="icoGoogle" title="Google +"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <script type="text/javascript">
    ! function(a) {
    "use strict";
    a("a.page-scroll").bind("click", function(e) {
            var l = a(this);
            a("html, body").stop().animate({
                scrollTop: a(l.attr("href")).offset().top - 50
            }, 1250, "easeInOutExpo"), e.preventDefault()
        }),
        a("body").scrollspy({
            target: ".navbar-fixed-top",
            offset: 51
        }),
        a(".navbar-collapse ul li a").click(function() {
            a(".navbar-toggle:visible").click()
        }),
        a("#mainNav").affix({
            offset: {
                top: 100
            }
        })

}

(jQuery);

</script>
