 <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">IMDB</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-left">
                    <li>
                        <a class="page-scroll" href="#about">MOVIES</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#services">TV & VIDEO</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#portfolio">CELEBS, EVENTS & PHOTOS</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <form role="form" class="search-form">
                        <div class="form-group">
                            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Search..">
                            <i class="fa fa-search"></i>
                        </div>
                    </form>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
    <!--end navigation-->
    <!--slider start-->
    <section id="home" class="overflow-hidden slider-banner">
        <div class="text-left">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <h1>STRANGER THINGS</h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt ex sit maiores amet, optio laboriosam inventore rerum, odit exercitationem nobis laborum porro aspernatur. Libero ducimus obcaecati eveniet consequuntur? Eligendi, facilis.</p>
                        <a ui-sref="browse" class="btn btn-lg btn-dark"><i class="ion-eye"></i>view overview</a>
                        <a href="#" class="btn btn-lg btn-skin"><i class="ion-android-favorite-outline"></i>add to watchlist</a>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <section class="movie-card">
        <div class="card-head" align="center">
            <h2>showing <a href="#">popular movies</a> released <a href="#"> this week </a></h2>
        </div>
        <div id="owl-demo" class="owl-carousel">
            <div>
                <img src="images/zoot.jpg" alt="Owl Image">
                <img src="images/dead.jpg" alt="Owl Image">
            </div>
            <div>
                <img src="images/miracle.jpg" alt="Owl Image">
                <img src="images/lane.png" alt="Owl Image">
            </div>
            <div>
                <img src="images/zoot.jpg" alt="Owl Image">
                <img src="images/dead.jpg" alt="Owl Image">
            </div>
            <div>
                <img src="images/miracle.jpg" alt="Owl Image">
                <img src="images/lane.png" alt="Owl Image">
            </div>
            <div>
                <img src="images/zoot.jpg" alt="Owl Image">
                <img src="images/dead.jpg" alt="Owl Image">
            </div>
            <div>
                <img src="images/miracle.jpg" alt="Owl Image">
                <img src="images/lane.png" alt="Owl Image">
            </div>
            <div>
                <img src="images/zoot.jpg" alt="Owl Image">
                <img src="images/dead.jpg" alt="Owl Image">
            </div>
            <div>
                <img src="images/miracle.jpg" alt="Owl Image">
                <img src="images/lane.png" alt="Owl Image">
            </div>
            <div>
                <img src="images/zoot.jpg" alt="Owl Image">
                <img src="images/dead.jpg" alt="Owl Image">
            </div>
            <div>
                <img src="images/miracle.jpg" alt="Owl Image">
                <img src="images/lane.png" alt="Owl Image">
            </div>
            <div>
                <img src="images/zoot.jpg" alt="Owl Image">
                <img src="images/dead.jpg" alt="Owl Image">
            </div>
            <div>
                <img src="images/miracle.jpg" alt="Owl Image">
                <img src="images/lane.png" alt="Owl Image">
            </div>
        </div>
    </section>
    <section class="latest-news">
        <div class="container">
            <div class="latest-news-head" align="center">
                <h2><a href="#">latest news</a> from the industry</h2>
            </div>
            <div class="row trending-row">
                <div class="col-md-6">
                    <div class="trending-img">
                        <img src="images/bryan.jpg" alt="" style="width: 540px;">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="trending-desc" style="border-top: 2px solid #ccc; !important">
                        <div class="media">
                            <div class="media-left">
                                <a href="#">
                                    <img class="media-object" src="images/exg.jpg" alt="...">
                                </a>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">Why plunging into 'Crazy Ex-Girlfriend' on Netflix makes sense</h4>
                                <span class="duration-desc"><i class="ion-ios-clock-outline"></i>2 hours ago on <a href="">Variety TV News</a></span>
                            </div>
                        </div>
                    </div>
                    <div class="trending-desc">
                        <div class="media">
                            <div class="media-left">
                                <a href="#">
                                    <img class="media-object" src="images/exg.jpg" alt="...">
                                </a>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">Why plunging into 'Crazy Ex-Girlfriend' on Netflix makes sense</h4>
                                <span class="duration-desc"><i class="ion-ios-clock-outline"></i>2 hours ago on <a href="">Variety TV News</a></span>
                            </div>
                        </div>
                    </div>
                    <div class="trending-desc" style="border-bottom: 2px solid #ccc; !important">
                        <div class="media">
                            <div class="media-left">
                                <a href="#">
                                    <img class="media-object" src="images/exg.jpg" alt="...">
                                </a>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">Why plunging into 'Crazy Ex-Girlfriend' on Netflix makes sense</h4>
                                <span class="duration-desc"><i class="ion-ios-clock-outline"></i>2 hours ago on <a href="">Variety TV News</a></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row trending-row2">
                <div class="col-md-3 no-padding">
                    <div class="trending-desc">
                        <div class="media">
                            <div class="media-body">
                                <h4 class="media-heading">Why plunging into 'Crazy Ex-Girlfriend' on Netflix makes sense</h4>
                                <span class="duration-desc"><i class="ion-ios-clock-outline"></i>2 hours ago on <a href="">Variety TV News</a></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 no-padding">
                    <div class="trending-desc">
                        <div class="media">
                            <div class="media-body">
                                <h4 class="media-heading">Why plunging into 'Crazy Ex-Girlfriend' on Netflix makes sense</h4>
                                <span class="duration-desc"><i class="ion-ios-clock-outline"></i>2 hours ago on <a href="">Variety TV News</a></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 no-padding">
                    <div class="trending-desc">
                        <div class="media">
                            <div class="media-body">
                                <h4 class="media-heading">Why plunging into 'Crazy Ex-Girlfriend' on Netflix makes sense</h4>
                                <span class="duration-desc"><i class="ion-ios-clock-outline"></i>2 hours ago on <a href="">Variety TV News</a></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 no-padding">
                    <div class="trending-desc">
                        <div class="media">
                            <div class="media-body">
                                <h4 class="media-heading">Why plunging into 'Crazy Ex-Girlfriend' on Netflix makes sense</h4>
                                <span class="duration-desc"><i class="ion-ios-clock-outline"></i>2 hours ago on <a href="">Variety TV News</a></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="movie-card">
        <div class="card-head" align="center">
            <h2>showing <a href="#">popular movies</a> released <a href="#"> this week </a></h2>
        </div>
        <div id="owl-demo1" class="owl-carousel">
            <div>
                <img src="images/zoot.jpg" alt="Owl Image">
            </div>
            <div>
                <img src="images/miracle.jpg" alt="Owl Image">
            </div>
            <div>
                <img src="images/zoot.jpg" alt="Owl Image">
            </div>
            <div>
                <img src="images/miracle.jpg" alt="Owl Image">
            </div>
            <div>
                <img src="images/zoot.jpg" alt="Owl Image">
            </div>
            <div>
                <img src="images/miracle.jpg" alt="Owl Image">
            </div>
            <div>
                <img src="images/zoot.jpg" alt="Owl Image">
            </div>
            <div>
                <img src="images/miracle.jpg" alt="Owl Image">
            </div>
            <div>
                <img src="images/zoot.jpg" alt="Owl Image">
            </div>
            <div>
                <img src="images/miracle.jpg" alt="Owl Image">
            </div>
            <div>
                <img src="images/zoot.jpg" alt="Owl Image">
            </div>
            <div>
                <img src="images/miracle.jpg" alt="Owl Image">
            </div>
        </div>
    </section>
    <section class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="foot-head">
                        <h4>explore</h4>
                    </div>
                    <ul class="list-unstyled explore-list">
                        <li><a href="">top 250 movies</a></li>
                        <li><a href="">release calender</a></li>
                        <li><a href="">top rated movies</a></li>
                        <li><a href="">best of 2015</a></li>
                        <li><a href="">oscar winners</a></li>
                    </ul>
                </div>
                <div class="col-md-9">
                    <div class="foot-head">
                        <h4>your browsing history</h4>
                    </div>
                    <div class="browsed-items">
                        <div class="browsed-movies">
                            <img src="images/prfct-match.jpg" alt="">
                            <img src="images/prfct-match.jpg" alt="">
                            <img src="images/prfct-match.jpg" alt="">
                            <img src="images/prfct-match.jpg" alt="">
                            <img src="images/prfct-match.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer class="dark-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="quicklinks pull-left">
                        <ul class="list-unstyled list-inline quicklinks-list">
                            <li>&copy; 2016</li>
                            <li><a href="">in cinemas</a></li>
                            <li><a href="">coming up</a></li>
                            <li><a href="">top rated</a></li>
                            <li><a href="">watchlist</a></li>
                            <li><a href="">news</a></li>
                            <li><a href="">community</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4">
                    <ul class="social-network social-circle pull-right">
                        <li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#" class="icoGoogle" title="Google +"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    
<script>
    $(document).ready(function() {
    //Sort random function
    function random(owlSelector) {
        owlSelector.children().sort(function() {
            return Math.round(Math.random()) - 0.5;
        }).each(function() {
            $(this).appendTo(owlSelector);
        });
    }

    $("#owl-demo").owlCarousel({
        navigation: true,
        navigationText: [
            "<div class='custom-icon-prev'><i class='ion-chevron-left icon-white'></i></div>",
            "<div class='custom-icon-next'> <i class='ion-chevron-right icon-white'></i></div>"
        ],
        items: 5,
        pagination: false,
        autoPlay: true,



        beforeInit: function(elem) {
            //Parameter elem pointing to $("#owl-demo")
            random(elem);
        }

    });

    $("#owl-demo1").owlCarousel({
        navigation: true,
        navigationText: [
            "<div class='custom-icon-prev'><i class='ion-chevron-left icon-white'></i></div>",
            "<div class='custom-icon-next'> <i class='ion-chevron-right icon-white'></i></div>"
        ],
        items: 5,
        pagination: false,
        autoPlay: true,



        beforeInit: function(elem) {
            //Parameter elem pointing to $("#owl-demo")
            random(elem);
        }

    });

});



! function(a) {
    "use strict";
    a("a.page-scroll").bind("click", function(e) {
            var l = a(this);
            a("html, body").stop().animate({
                scrollTop: a(l.attr("href")).offset().top - 50
            }, 1250, "easeInOutExpo"), e.preventDefault()
        }),
        a("body").scrollspy({
            target: ".navbar-fixed-top",
            offset: 51
        }),
        a(".navbar-collapse ul li a").click(function() {
            a(".navbar-toggle:visible").click()
        }),
        a("#mainNav").affix({
            offset: {
                top: 100
            }
        })

}

(jQuery);

</script>